#container{
    border: solid black 2px;
}
header{
    border: solid blue 2px;
    text-align: center;
    background-color: navy;
    color: white;
}

section{
    border: solid black 2px;
}
article,h2{
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    margin-right: 1000px;
}
#italic{
    font-style: italic;
}
footer{
    border:  solid black 2px;
    text-align: center;
    background-color: royalblue;
    color: white;
}